body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
}

p {
	font-size: 12pt;
	margin-bottom: 3px;
	padding-bottom: 3px; 
	}

br {clear:both}

h1 {font-family:  Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold;}
h2 {font-family:  Arial, Helvetica, sans-serif; font-size: 150%; font-weight: bold;}
h3 {font-family:  Arial, Helvetica, sans-serif; font-size: 90%; font-weight: bold;}
h4 {font-family:  Arial, Helvetica, sans-serif; font-size: 100%; font-weight: bold;}

hr {
color: #CCCC99;
}
.text {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%; color: #000000;}
.title {font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 100%; color: #000000; font-weight: Bold;}

#mainform {
	font-size: 12pt;
	}

.float {
	float: left;	
}

.label {
	font-weight: bold;
	vertical-align: top;
	}
	
.subheader {
	vertical-align: top;
	}

/* Header Styles */

#header {
	width:100%;
	border-bottom: solid 30px #CCCC99;

	}
	
#header, .headercomp {
	float: left;
	}
	
.logo {
	float: right;
	margin: 10px;
	}


#nav {
	margin-bottom: 3px;
	margin-left: 43px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	font-weight: bold;
	color: #C00;
}
#nav a:link, #nav a:visited, #nav a:active {
	color: #000;
	text-decoration: none;
	
}
#nav a:hover {
	color: #C00;
	text-decoration: none;
} 


/* Footer Styles */

#footer {
	float: left;
	border-top: 2px solid #CCCC99;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 90%; 
	color: #000000;
	width: 100%;
}

#footer .headercomp {
	margin-left: 170px;	
	}
	
#footer p {
	font-size: 10pt;
	
	}

#footer a:link, #footer a:visited, #footer a:active {text-decoration: underline;}
#footer a:hover {text-decoration: underline;}





p	{font-family:Verdana,Arial,Helvetica,Sans serif; font-size:75%; color:#000000}
ul	{font-family:Verdana,Arial,Helvetica,Sans serif; font-size:75%; color:#000000}
table	{font-family:Verdana,Arial,Helvetica,Sans serif; color:#000000}


.backgroundcolour {
	background-color: #CCCC99;
}
.backgroundwhite {
	background-color: #FFF;
}

#content {
	/*margin-left:50px;*/
	margin-bottom: 20px;
	width : 75%; 
	font-family:  Arial, Helvetica, sans-serif; 
	font-size: 12pt;
	padding-left:20px;
	min-height: 550px;
	float: left;
}

#content h1 {
	font-family:  Arial, Helvetica, sans-serif; 
	font-size: 13pt; 
	color: #990;
}


/* Left Navigation Column */

#leftnav {
	float: left;
	/*position:absolute;*/
	left: 0;
	top: 100px;
	padding: 0px;
	margin-bottom: 20px;
	max-width: 150px;
	width: 20%;
	font-size: 8.5pt;
}

.menugrp{
	border-bottom: solid black 1px;
	padding-bottom: 15px;
	padding-top: 10px;
	float:right;
	width: 100%;
}

.menugrp strong{
	padding-left: 5px;	
}

.menuitem strong{
	padding-left: 0px;
	}

.menuitem {
	padding: 5px 5px 0px 0px;
	float:right;
}

.menuitemextra {
	padding: 1px 5px 0px 0px;
	float: right;
	text-align: right;
}

.menuitem a:link, .menuitem a:visited, .menuitem a:active, .menuitemextra a:link, .menuitemextra a:visited, .menuitemextra a:active {
	text-decoration: none;
	color: #000;
}

.menuitem a:hover, .menuitemextra a:hover {
	text-decoration: none;
	color: #C00;
}

#leftnavrecord {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#leftnavrecord td {
	padding: 5px 0px 0px 0px;
}

#leftnavrecord a:link, #leftnavrecord a:visited, #leftnavrecord a:active {
	text-decoration: none;
	color: #000;
}

#leftnavrecord a:hover {
	text-decoration: none;
	color: #C00;
}

tr.odd { 
  	color: black;
  	background-color: white;
}

tr.even {
  	color: black;
  	background-color: #eeeeee;
}

td.hit,
td.comphit {
	border: 1px solid black;
}


/* Record Navigation */

.sortedBy {
	font-weight: bold;
	}

.recordnav {
	float: right;	
	color: #990;
	font-size: 12pt; 
}

.counter {
	float: left;
	font-size: 10pt;
	}

/* relating to char entity keyboard */

#keyboard {
  	border: solid black 1px;
	position: absolute;	
	top: 140px;
	left: 10px;
	width: 9cm;
   	background: #C00;
}


td button {
	width: 0.8cm;
	}

#keyboardcontrolbar {
	height: 20px;
	color: white;
	}
	

#chartable {
	padding: 7px;
	background: #e5e5e5;
	}


/* general form stuff */

.field {
	border: 1px solid #CCCC99;
	background: #EDEDDC;
	padding-left: 12px;
	padding-right: 12px;
	float: left;
	font-size: 12pt;
	margin-bottom: 10px;
	min-width: 1100px;
	}

textarea, input {
		font-family: arial, helvetica, gill, sans-serif;
		font-size: 11pt; 
	}

#formDiv {
	overflow: visible;
	
	}

.horizontal {
	float: left;
	padding-right: 20px;
	}

/* Relating to multiple entry fields */


.editfullref{
	float: left;
	margin-top: 70px;
	}


#refdisplay{
	margin-top: 5px;
	}

#refdisplay p{
	font-size: 10pt;
	max-width: 450px;
	float: left;
	min-height: 100px
	
	}

.reflabel {
	float: left;
	margin-top: 20px;
	}

.melabel, .reflabel {
	font-size: 10pt;
	}
	
.mebuttons {
	float: left;
	padding-left: 50px;
	padding-right: 50px;
	}
	
.meadded {
	padding-left: 45px;
	padding-bottom: 10px;
	float: left;
	}

.added {
	width: 400px;
	background: #F2F2F2;
	border: solid 1px #000000;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 0px;	
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.added p {
	font-size: 11pt;
	margin-top: 0;
	padding-top: 3px;
	}

.added ul {
	list-style-type: none;
	margin-left: 0px;
  	padding-left: 0px
	}
	

.icons {
	float: left;
	padding-right: 5px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 10px;

}


.tablecontainer {
	float: left;
	margin-top: 8px;
	max-width: 450px;
}

.tablecontainer .label {
	width: 75px;
}

.mebutton {
	margin-top: 5px;
	margin-left: 10px;
	width: 50px;
	float: left;
}

td .mebutton {
	margin-left: 0px;	
}

.multipleEntry {
	margin-left: 80px;
}

.suggest {
	z-index: 3;	
}

/*======================================================================================================= */
/* SubForm */

.popup {
	width: 700;
	height: 300;
	position: fixed;
	background: #EDEDDC;
	border: solid black 2px;
	left: 200;
	}

.subForm {
	background: #EDEDDC;
}

#subAbbrRef {
	background: #F2F2F2;
	}

.subFormTitle {
	font-size: 11pt;
	text-weight: bold;
	margin-left: 20px;
	float: left;
	}
	
#subrefclose {
	float:right;
	margin-top: 15px;
	margin-right: 30px;
	}
	
#subrefsubmit {
	float:right;
	margin-top: 15px;
	margin-right: 30px;
	}

.subreflabel {
	vertical-align: top;
	font-size: 10pt;
	width: 150px;
	}

#subreftable {
	padding: 20px;
}